div.navbar-brand {
  color: #fff;
}

a.nav-link {
  color: #fff;
  font-size: 1.3em;
}

a.nav-link.active {
  color: var(--bs-teal);
}

a.nav-link:hover {
  color: var(--bs-teal);
}



button.navbar-toggler {
  color: #fff;
}