@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f8f9fa;
}

h1.brand {
  color: #fff;
}

h1.brand a {
  text-decoration: none;
}


a.nav-link {
  color: rgb(30, 238, 110);
  font-size: 1.3em;
}

a.nav-link.active {
  color: var(--bs-teal);
}

a.nav-link:hover {
  color: var(--bs-purple);
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

button.navbar-toggler {
  border: 2px solid var(--bs-teal);
  color: #fff;
}

/* Home Page */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.workout-details h5 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--bs-teal);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--bs-purple);
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 5px;
  border-radius: 50%;
  color: #333;
}